<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description" content="" />
<meta name="author" content="" />
<title>Bookito</title>
<!-- Bootstrap core CSS-->
<link rel="stylesheet"
	th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" />
<!-- Custom fonts for this template-->
<link rel="stylesheet"
	th:href="@{/vendor/font-awesome/css/font-awesome.min.css}" />


<!-- Page level plugin CSS-->
<link rel="stylesheet"
	th:href="@{/vendor/datatables/dataTables.bootstrap4.css}" />
<!-- Custom styles for this template-->
<link rel="stylesheet" th:href="@{/css/sb-admin.css}" />


<header th:replace="layout/layout :: header"></header>
<body class="fixed-nav sticky-footer bg-dark" id="page-top">


	<div class="content-wrapper">
		<div class="container-fluid">

				<div class="container py-4">

		<div class="card-header bg-warning text-center col-sm-11"
			th:text="${titulo}"></div>
		<div class="card bg-light col-sm-11">


			<div class="card-body">

				
				<form th:action="@{/reserva/form}" th:object="${reserva}"
					method="post" enctype="multipart/form-data">
					
					<div class="form-group row">
								<label for="area" class=" col-sm-2 col-form-label">Titulo:
								</label>
								<div class="col-sm-6">

									<select class="form-control" th:field="*{bookito.id}">
										<option th:each="s: ${listaBOOKITOS}" th:value="${s.id}"
											th:text="${s.titulo}"
											th:selected="(${s.id} == *{bookito.id})"></option>
									</select>

								</div>
							</div>
					<div class="form-group row">
						<label  for="fechainicial" class="col-sm-2 col-form-label ">Fecha Reserva:</label>
						<div class="col-sm-6">
							<input  class="form-control" required="true"
								th:field="*{fechainicial}"
								th:errorclass="'form-control alert-danger'" /> <small
								class="form-text text-danger"
								th:if="${#fields.hasErrors('fechainicial')}"
								th:errors="*{fechainicial}"></small>
						</div>
					</div>
					
					
					<div class="form-group row">
						<label for="fechafinal" class="col-sm-2 col-form-label ">Fecha Entrega:</label>
						<div class="col-sm-6">
							<input type="date" class="form-control" required="true"
								th:field="*{fechafinal}"
								th:errorclass="'form-control alert-danger'" /> <small
								class="form-text text-danger"
								th:if="${#fields.hasErrors('fechafinal')}"
								th:errors="*{fechafinal}"></small>
						</div>
					</div>
					
							<div class="form-group row">
								<div class="col-sm-12 ">
									<button type="submit" class="btn btn-secondary btn-block">Registrar
										Libro</button>
								</div>
							</div>
							
							<div class="form-group row" style="visibility:hidden" >
								<label for="area" class=" col-sm-2 col-form-label">Usuario:
								</label>
								<div class="col-sm-6">

									<select class="form-control" th:field="*{usuario.id}">
										<option th:each="s: ${listaUSUARIOS}" th:value="${s.id}"
											th:text="${s.username}"
											th:selected="(${s.id} == *{usuario.id})"></option>
									</select>

								</div>
							
					
					
				</div>
							
							<div class="form-group row" style="visibility:hidden">
						<label  for="estadoReserva" class="col-sm-2 col-form-label ">Estado Reserva:</label>
						<div class="col-sm-6">
							<input  class="form-control" id="estadoReserva" value="PENDIENTE" /> 
						</div>
					</div>
								
					
					
							
				

					

				

				</form>

			</div>

		</div>
	</div>

		</div>
<!-- /.container-fluid-->
		<!-- /.content-wrapper-->
		<footer class="sticky-footer">
			<div class="container">
				<div class="text-center">
					<small>BookitoApp</small>
				</div>
			</div>
		</footer>
		<!-- Scroll to Top Button-->
		<a class="scroll-to-top rounded" href="#page-top"> <i
			class="fa fa-angle-up"></i>
		</a>
		
		<!-- Logout Modal-->
		<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
			aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Estas seguro
							que deseas salir?</h5>
						<button class="close" type="button" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">×</span>
						</button>
					</div>
					<div class="modal-body">Le recordamos que toda modificación
						está almacenado en nuestra base de datos.</div>
					<div class="modal-footer">
						<form id="logoutForm" th:action="@{/logout}" method="post">
							<button class="btn btn-secondary" type="button"
								data-dismiss="modal">Cancelar</button>
							<button class="btn btn-primary"
								onclick="document.getElementById('logoutForm').submit();"
								type="submit">Salir</button>
						</form>
					</div>
				</div>
			</div>
		</div>
		<!-- Bootstrap core JavaScript-->
		<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
		<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
		<!-- Core plugin JavaScript-->
		<script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>
		<!-- Page level plugin JavaScript-->
		<script th:src="@{/vendor/chart.js/Chart.min.js}"></script>
		<script th:src="@{/vendor/datatables/jquery.dataTables.js}"></script>
		<script th:src="@{/vendor/datatables/dataTables.bootstrap4.js}"></script>
		<!-- Custom scripts for all pages-->
		<script th:src="@{/js/sb-admin.min.js}"></script>
		<!-- Custom scripts for this page-->
		<script th:src="@{/js/sb-admin-datatables.min.js}"></script>
		<script th:src="@{/js/sb-admin-charts.min.js}"></script>
	</div>


</body>


</html>
