<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description" content="" />
<meta name="author" content="" />
<title>Bookito</title>
<!-- Bootstrap core CSS-->
<link rel="stylesheet"
	th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" />
<!-- Custom fonts for this template-->
<link rel="stylesheet"
	th:href="@{/vendor/font-awesome/css/font-awesome.min.css}" />
<!-- Page level plugin CSS-->
<link rel="stylesheet"
	th:href="@{/vendor/datatables/dataTables.bootstrap4.css}" />
<!-- Custom styles for this template-->
<link rel="stylesheet" th:href="@{/css/sb-admin.css}" />


<header th:replace="layout/layout :: header"></header>
<body class="fixed-nav sticky-footer bg-dark" id="page-top">

	<!-- Navigation-->

	<div class="content-wrapper">
		<div class="container-fluid">

			<div class="container py-4">

				<div class="card-header bg-warning text-center col-sm-11"
					th:text="${titulo}"></div>
				<div class="card bg-light col-sm-11">


					<div class="card-body">


						<form th:action="@{/bookito/form}" th:object="${bookito}"
							method="post" enctype="multipart/form-data">

							<div class="form-group row">
								<label for="nombreEmpleado" class="col-sm-2 col-form-label">Titulo del Libro:</label>
								<div class="col-sm-6">
									<input type="text" th:field="*{titulo}" required="true"
										class="form-control"
										th:errorclass="'form-control alert-danger'" /> <small
										class="form-text text-danger"
										th:if="${#fields.hasErrors('titulo')}"
										th:errors="*{titulo}"></small>
								</div>
								
							</div>
							<div class="form-group row">
								<label for="autor" class="col-sm-2 col-form-label">Autor del Libro:</label>
								<div class="col-sm-6">
									<input type="text" th:field="*{autor}" required="true"
										class="form-control"
										th:errorclass="'form-control alert-danger'" /> <small
										class="form-text text-danger"
										th:if="${#fields.hasErrors('autor')}"
										th:errors="*{autor}"></small>
								</div>
								
							</div>

							<div class="form-group row">
								<label for="isbn" class="col-sm-2 col-form-label">ISBN:</label>
								<div class="col-sm-6">
									<input type="text" class="form-control" autofocus="autofocus"
										title="Ingrese 13 dígitos"
										th:field="*{isbn}" id="isbn" placeholder="Ingrese los 13 dígitos"
										required="required"
										th:errorclass="'form-control alert-danger'" /> <small
										class="form-text text-danger"
										th:if="${#fields.hasErrors('isbn')}"
										th:errors="*{isbn}"></small>
								</div>
							</div>
							
							
							<div class="form-group row">
								<label for="area" class=" col-sm-2 col-form-label">Sede Disponible:
								</label>
								<div class="col-sm-6">

									<select class="form-control" th:field="*{sede.idSede}">
										<option th:each="s: ${listaSEDES}" th:value="${s.idSede}"
											th:text="${s.nombreSede}"
											th:selected="(${s.idSede} == *{sede.idSede})"></option>
									</select>

								</div>
							</div>
							<div class="form-group row">
								<label for="isbn" class="col-sm-2 col-form-label">Ubicación Biblioteca:</label>
								<div class="col-sm-6">
									<input type="text" class="form-control" autofocus="autofocus"
										title="Ingrese Codigo"
										th:field="*{ubicacion}" id="ubicacion" placeholder="Ingrese código"
										required="required"
										th:errorclass="'form-control alert-danger'" /> <small
										class="form-text text-danger"
										th:if="${#fields.hasErrors('ubicacion')}"
										th:errors="*{ubicacion}"></small>
								</div>
							</div>
							
							<div class="form-group row">
								<label for="categoria" class=" col-sm-2 col-form-label">Categoria:
								</label>
								<div class="col-sm-6">

									<select class="form-control" th:field="*{categoria.idCategoria}">
										<option th:each="c: ${listaCATEGORIAS}" th:value="${c.idCategoria}"
											th:text="${c.nombreCategoria}"
											th:selected="(${c.idCategoria} == *{categoria.idCategoria})"></option>
									</select>

								</div>
							</div>
							
							<div class="form-group row">
								<label for="nombreEmpleado" class="col-sm-2 col-form-label">Descripcion :</label>
								<div class="col-sm-6">
									<input type="text" th:field="*{descripcion}" required="true"
										class="form-control"
										th:errorclass="'form-control alert-danger'" /> <small
										class="form-text text-danger"
										th:if="${#fields.hasErrors('descripcion')}"
										th:errors="*{descripcion}"></small>
								</div>
								
							</div>
							
							<div class="form-group row">
								<label for="file" class="col-sm-2 col-form-label ">Foto:</label>
								<div class="col-sm-6">
									<input type="file" name="file" class="form-control" />
								</div>
							</div>
							
							
					

							<div class="form-group row">
								<div class="col-sm-12 ">
									<button type="submit" class="btn btn-secondary btn-block">Registrar
										Libro</button>
								</div>
							</div>

						</form>

					</div>

				</div>
			</div>
		</div>
		<!-- /.container-fluid-->
		<!-- /.content-wrapper-->
		<footer class="sticky-footer">
			<div class="container">
				<div class="text-center">
					<small>BookitoApp</small>
				</div>
			</div>
		</footer>
		<!-- Scroll to Top Button-->
		<a class="scroll-to-top rounded" href="#page-top"> <i
			class="fa fa-angle-up"></i>
		</a>
		<!-- Logout Modal-->
		<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
			aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Estas seguro
							que deseas salir?</h5>
						<button class="close" type="button" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">×</span>
						</button>
					</div>
					<div class="modal-body">Le recordamos que toda modificación
						está almacenado en nuestra base de datos.</div>
					<div class="modal-footer">
						<form id="logoutForm" th:action="@{/logout}" method="post">
							<button class="btn btn-secondary" type="button"
								data-dismiss="modal">Cancelar</button>
							<button class="btn btn-primary"
								onclick="document.getElementById('logoutForm').submit();"
								type="submit">Salir</button>
						</form>
					</div>
				</div>
			</div>
		</div>
		<!-- /.container-fluid-->
		<!-- /.content-wrapper-->
		<footer class="sticky-footer">
			<div class="container">
				<div class="text-center">
					<small>BookitoApp</small>
				</div>
			</div>
		</footer>
		<!-- Scroll to Top Button-->
		<a class="scroll-to-top rounded" href="#page-top"> <i
			class="fa fa-angle-up"></i>
		</a>
		<!-- Logout Modal-->
		<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
			aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Estas seguro
							que deseas salir?</h5>
						<button class="close" type="button" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">×</span>
						</button>
					</div>
					<div class="modal-body">Le recordamos que toda modificación
						está almacenado en nuestra base de datos.</div>
					<div class="modal-footer">
						<form id="logoutForm" th:action="@{/logout}" method="post">
							<button class="btn btn-secondary" type="button"
								data-dismiss="modal">Cancelar</button>
							<button class="btn btn-primary"
								onclick="document.getElementById('logoutForm').submit();"
								type="submit">Salir</button>
						</form>
					</div>
				</div>
			</div>
		</div>

	
		<!-- Bootstrap core JavaScript-->
		<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
		<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
		<!-- Core plugin JavaScript-->
		<script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>
		<!-- Page level plugin JavaScript-->
		<script th:src="@{/vendor/chart.js/Chart.min.js}"></script>
		<script th:src="@{/vendor/datatables/jquery.dataTables.js}"></script>
		<script th:src="@{/vendor/datatables/dataTables.bootstrap4.js}"></script>
		<!-- Custom scripts for all pages-->
		<script th:src="@{/js/sb-admin.min.js}"></script>
		<!-- Custom scripts for this page-->
		<script th:src="@{/js/sb-admin-datatables.min.js}"></script>
		<script th:src="@{/js/sb-admin-charts.min.js}"></script>
	</div>
</body>



</html>
