<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description" content="" />
<meta name="author" content="" />
<title>BookitoApp</title>
<!-- Bootstrap core CSS-->
<link rel="stylesheet"
	th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" />
<!-- Custom fonts for this template-->
<link rel="stylesheet"
	th:href="@{/vendor/font-awesome/css/font-awesome.min.css}" />
<!-- Page level plugin CSS-->
<link rel="stylesheet"
	th:href="@{/vendor/datatables/dataTables.bootstrap4.css}" />
<!-- Custom styles for this template-->
<link rel="stylesheet" th:href="@{/css/sb-admin.css}" />
</head>
<script>
h1 {
	  text-shadow: 0 1px 0 #ccc,
	               0 2px 0 #c9c9c9,
	               0 3px 0 #bbb,
	               0 4px 0 #b9b9b9,
	               0 5px 0 #aaa,
	               0 6px 1px rgba(0,0,0,.1),
	               0 0 5px rgba(0,0,0,.1),
	               0 1px 3px rgba(0,0,0,.3),
	               0 3px 5px rgba(0,0,0,.2),
	               0 5px 10px rgba(0,0,0,.25),
	               0 10px 10px rgba(0,0,0,.2),
	               0 20px 20px rgba(0,0,0,.15);
	}
</script>
<header th:replace="layout/layout :: header"></header>
<body class="fixed-nav sticky-footer" id="page-top">
	<!-- Navigation-->

		

	<div style="background-image: url(/images/san-isidro-2.jpg);" class="content-wrapper">
	
		<div class="container-fluid">
			<div class="text-center" style="background:linear-gradient(120deg,#c0392b, 18%,  #424949);margin-top:250px;">
				<p style="font-family:Georgia,serif; font-size:50px;
 color:White;
 font-variant: small-caps; text-transform: none; font-weight: 100; margin-bottom: 0;
 text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);">¡Le damos la bienvenida a Bookito!</p>
			</div>
		</div>
		<!-- /.container-fluid-->
		<!-- /.content-wrapper-->
		<footer class="sticky-footer">
			<div class="container">
				<div class="text-center">
					<small>BookitoApp</small>
				</div>
			</div>
		</footer>
		<!-- Scroll to Top Button-->
		<a class="scroll-to-top rounded" href="#page-top"> <i
			class="fa fa-angle-up"></i>
		</a>
		<!-- Logout Modal-->
		<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
			aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Estas seguro
							que deseas salir?</h5>
						<button class="close" type="button" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">×</span>
						</button>
					</div>
					<div class="modal-body">Le recordamos que toda modificación
						está almacenado en nuestra base de datos.</div>
					<div class="modal-footer">
						<form id="logoutForm" th:action="@{/logout}" method="post">
							<button class="btn btn-secondary" type="button"
								data-dismiss="modal">Cancelar</button>
							<button class="btn btn-primary"
								onclick="document.getElementById('logoutForm').submit();"
								type="submit">Salir</button>
						</form>
					</div>
				</div>
			</div>
		</div>
		<!-- Bootstrap core JavaScript-->
		<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
		<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
		<!-- Core plugin JavaScript-->
		<script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>
		<!-- Page level plugin JavaScript-->
		<script th:src="@{/vendor/chart.js/Chart.min.js}"></script>
		<script th:src="@{/vendor/datatables/jquery.dataTables.js}"></script>
		<script th:src="@{/vendor/datatables/dataTables.bootstrap4.js}"></script>
		<!-- Custom scripts for all pages-->
		<script th:src="@{/js/sb-admin.min.js}"></script>
		<!-- Custom scripts for this page-->
		<script th:src="@{/js/sb-admin-datatables.min.js}"></script>
		<script th:src="@{/js/sb-admin-charts.min.js}"></script>
	</div>
</body>


</html>
