<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description" content="" />
<meta name="author" content="" />
<title>Bookito</title>
<!-- Bootstrap core CSS-->
<link rel="stylesheet"
	th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" />
<!-- Custom fonts for this template-->
<link rel="stylesheet"
	th:href="@{/vendor/font-awesome/css/font-awesome.min.css}" />
<!-- Page level plugin CSS-->
<link rel="stylesheet"
	th:href="@{/vendor/datatables/dataTables.bootstrap4.css}" />
<!-- Custom styles for this template-->
<link rel="stylesheet" th:href="@{/css/sb-admin.css}" />
</head>

<header th:replace="layout/layout :: header"></header>
<body class="fixed-nav sticky-footer bg-dark" id="page-top">
	
	<div class="content-wrapper">
		<div class="container-fluid">


		<div class=" container py-4">
			<h1 style="color: white; text-align:center;">Registrar</h1>
			<div class="card-body">

				<form th:action="@{/registro}" method="post">

					
				
					
					<div class="form-group row">
								<label for="username" class="col-sm-2 col-form-label">Titulo del Libro:</label>
							
		
		
			
    
  </div>

					<br/>
					<div class="form-group">
						<input type="submit" class="btn btn-lg btn-primary btn-block"
						value="Crear Cuenta" />
					</div>
					<input type="hidden" th:name="${_csrf.parameterName}"
						th:value="${_csrf.token}" />
					
			
						<input type="text"    class="form-control" name="authority"  id="authority" value="ROLE_ADMIN"/>
				
				<input type="text"  style="visibility:hidden"  class="form-control" name="enabled"  id="enabled" value="true"/>
					

				</form>

			</div>



	</div>

</div>



<!-- /.container-fluid-->
		<!-- /.content-wrapper-->
		<footer class="sticky-footer">
			<div class="container">
				<div class="text-center">
					<small>BookitoApp</small>
				</div>
			</div>
		</footer>
		<!-- Scroll to Top Button-->
		<a class="scroll-to-top rounded" href="#page-top"> <i
			class="fa fa-angle-up"></i>
		</a>
		<!-- Logout Modal-->
		<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
			aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Estas seguro
							que deseas salir?</h5>
						<button class="close" type="button" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">×</span>
						</button>
					</div>
					<div class="modal-body">Le recordamos que toda modificación
						está almacenado en nuestra base de datos.</div>
					<div class="modal-footer">
						<form id="logoutForm" th:action="@{/logout}" method="post">
							<button class="btn btn-secondary" type="button"
								data-dismiss="modal">Cancelar</button>
							<button class="btn btn-primary"
								onclick="document.getElementById('logoutForm').submit();"
								type="submit">Salir</button>
						</form>
					</div>
				</div>
			</div>
		</div>
		
		<!-- Bootstrap core JavaScript-->
		<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
		<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
		<!-- Core plugin JavaScript-->
		<script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>
		<!-- Page level plugin JavaScript-->
		<script th:src="@{/vendor/chart.js/Chart.min.js}"></script>
		<script th:src="@{/vendor/datatables/jquery.dataTables.js}"></script>
		<script th:src="@{/vendor/datatables/dataTables.bootstrap4.js}"></script>
		<!-- Custom scripts for all pages-->
		<script th:src="@{/js/sb-admin.min.js}"></script>
		<!-- Custom scripts for this page-->
		<script th:src="@{/js/sb-admin-datatables.min.js}"></script>
		<script th:src="@{/js/sb-admin-charts.min.js}"></script>
	</div>

</body>
</html>