<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head">
<meta charset="UTF-8" />
<link rel="stylesheet" th:href="@{/css/style.css}" />
</head>

<body style="background-image: url(/images/Biblioteca_1.jpg);">



		
	<div class="rtl-form-iz">
		<div class=" bg-transparent">
			<h1 style="color: white; text-align:center;">Registrar</h1>
			<div class="card-body">

				<form th:action="@{/registro}" method="post">

					<label class="label" style="color:whitesmoke;">Nombre de Alumno</label>
					<div class="form-group ">
						<div class="input-group-prepend">
                        	<span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        
                        
						<input type="text" name="username" id="username"
						class="form-control" placeholder="Nombre de alumno" autofocus="true"  required="true"/>
					</div>
					
				
					<label class="label" style="color:whitesmoke;">Código de alumno</label>
					<div class="form-group ">
						<div class="input-group-prepend">
                        	<span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
						<input type="text" name="codigo_uni" id="codigo_uni"
						class="form-control" placeholder="codigo@upc.edu.pe" autofocus="true"  required="true"/>
					</div>

			 <label class="" style="color:whitesmoke;">Contraseña</label>
					<div class="form-group ">
						<input type="password" name="password" id="password" pattern="^\S{,}$"
						onchange="if(this.checkValidity()) form.againPassword.pattern = this.value;"
						class="form-control" placeholder="Contraseña" required="true"/>
					</div>
					
				<label class="" style="color:whitesmoke;">Verificar contraseña</label>
				<div class="form-group ">
						<input type="password" name="againPassword" id="againPassword" pattern="^\S{6,}$"
						onchange="this.setCustomValidity(this.validity.patternMismatch ? 'Please enter the same Password as above' : '');" 
						class="form-control" placeholder="Contraseña" required="true"/>
					</div>
		
				
					<br/>
					<div class="form-group">
						<input type="submit" class="btn btn-lg btn-primary btn-block"
						value="Crear Cuenta" />
					</div>
					<input type="hidden" th:name="${_csrf.parameterName}"
						th:value="${_csrf.token}" />
					
					<div class="text-block text-center">
						<p style="color:white; font-size:16px;">¿Ya tienes una cuenta?</p>

						<a th:href="@{/login}" style="font-size:14px; color:white;">Iniciar Sesión</a>

					

					</div>
						<input type="text"   style="visibility:hidden"  class="form-control" name="authority"  id="authority" value="ROLE_ADMIN"/>
				
				<input type="text"  style="visibility:hidden"  class="form-control" name="enabled"  id="enabled" value="true"/>
					

				</form>

			</div>

		</div>

	</div>


</body>
</html>